<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ article.title }}</title>
    <meta name="description" content="Default Events Template">
    <meta name="author" content="{{ article.author.userName }}">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<section>
    <h1>All Events with current User's Permission</h1>
    {% for ev in events %}
        <article>
            {{ ev.id}}: {{ ev.name }}
        </article>
    {% endfor %}
</section>

<pre>
    {{ dump(events) }}
</pre>


</body>
</html>
