<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <meta name="description" content="Default Index Template">
    <meta name="author" content="{{ page.author.userName }}">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<section>
    <h1>{{ page.title }}</h1>
    {% for article in page.articles %}
        <article>
            <h2>{{ article.title }}</h2>

            {% set ct = article.content %}

            {{ twig.render(ct, {article:article}) | raw }}


        </article>
    {% endfor %}
</section>

<pre>
    {{ dump(page) }}
</pre>


</body>
</html>